header{
  
        /* Fallback for older browsers */
        background: hsla(43, 95%, 67%, 1);
    
        /* Standard syntax for radial gradient */
        background: radial-gradient(circle, hsla(43, 95%, 67%, 1) 0%, hsla(199, 73%, 36%, 1) 100%);
    
        /* For Mozilla Firefox */
        background: -moz-radial-gradient(circle, hsla(43, 95%, 67%, 1) 0%, hsla(199, 73%, 36%, 1) 100%);
    
        /* For WebKit-based browsers like Safari and Chrome */
        background: -webkit-radial-gradient(circle, hsla(43, 95%, 67%, 1) 0%, hsla(199, 73%, 36%, 1) 100%);
    
        /* For IE9+ using filter (note: this may not give exactly the same result) */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#FBCD59", endColorstr="#19759F", GradientType=1 );
    
    
}

.item-1{
  
    /* Fallback for older browsers */
    background: hsla(43, 95%, 67%, 1);

    /* Standard syntax for radial gradient */
    background: radial-gradient(circle, hsla(43, 95%, 67%, 1) 0%, hsla(199, 73%, 36%, 1) 100%);

    /* For Mozilla Firefox */
    background: -moz-radial-gradient(circle, hsla(43, 95%, 67%, 1) 0%, hsla(199, 73%, 36%, 1) 100%);

    /* For WebKit-based browsers like Safari and Chrome */
    background: -webkit-radial-gradient(circle, hsla(43, 95%, 67%, 1) 0%, hsla(199, 73%, 36%, 1) 100%);

    /* For IE9+ using filter (note: this may not give exactly the same result) */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#FBCD59", endColorstr="#19759F", GradientType=1 );


}