.button {
    height: 50px;
    width: 150px;
    
    position: relative;
    background-color: transparent;
    cursor: pointer;
    border: 2px solid #fbcd59;
    overflow: hidden;
    border-radius: 30px;
    color: #333;
    transition: all 0.5s ease-in-out;
  }
  
  .btnTxt {
    z-index: 1;
    font-weight: 800;
    letter-spacing: 4px;
  }

  
  .button:hover {
    box-shadow: 1px 1px 200px #252525;
    background-color: #fbcd59;
    color: #fff;
    border: none;
  }
  
 